
img {
    height: 200px;
    width: 200px;
    shape-image-threshold: inherit;
    padding: center;
    margin-top: 20px;
}
body {
     background: url("background.jpg"); 
    text-justify: center;
}
.card {
    padding-left: 20px;
    padding-right: 20px;
    /* box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2); */
    background-color: rgba(0,0,0,0.2);
    transition: 0.3s;
  
}
.h1{
    text-align: right;
  
}
.alignright {
	float: right;
    padding-right: 70px;
}
.alignright1{
    float: right;
    padding-right: 170px;
}
.alignright2{
    float: right;
    padding-right: 110px;
}
.Name{
    padding-left: 500px;
}
.alignright4{
    float: right;
    padding-right: 220px;
}
.About{
    text-align: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(0,0,0,0.2);
}
